:root {
    --font-title:'Poppins', sans-serif;
    --secondary-text-font: 'Roboto', sans-serif;
    --secondary-link-text: 'Archivo', sans-serif;

    --main-color-dark: #FFCC00;
    --main-color-linght: #F7DC6F;
    --color-text-primary: #B3B6B7;
}

*,
body,
#app,
.main-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    max-width: 750px;
    margin: 0 auto;
}

#app header {
    width: 100%;
    min-height: 30vh;
    padding: 1.3rem;


    background-color: var(--main-color-dark);
}
#app header h1 {
    font-family: var(--font-title);
    font-size: 1.6rem;
}

#app header p {
    font-family: var(--secondary-text-font);
    font-size: 1.1rem;
    color: #ECF0F1;
}

#app .main-container {
    width: 100%;
    padding: 0.8rem 1rem;
    margin: -18px auto;
    
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;

    background-color:white;
}
#app .main-container .filters {
    width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filters input{
    width: 150px;
    margin: 0.5rem;
    padding: 5px;

    border: 1px solid black;
    border-radius: 0.3rem;

    outline: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.filters input[type="text"] {
    font-size: 12px;
    padding: 8px;
}

.filters button {
    width: 35px;
    padding: 7px;

    border: 1px solid black;
    border-radius: 0.3rem;

    background: none;
    transition: 0.5s;
}


.filters a {
    text-decoration: none;
    color: black;
    font: 700 0.9rem 'Archivo', sans-serif;
    margin: 0.5rem;

    transition: 0.5s;
}
.filters a:hover {
    color: var(--main-color-dark);
}

.filters #name:hover,
.filters #date:hover,
.filters #add:hover {
    border-color: var(--main-color-dark);
    box-shadow: 0px 0px 8px var(--main-color-linght);
}

.main-container .sale-list{
    width: 95%;
    margin: 2rem auto;
}

.main-container .sale-list .sale {
    width: 100%;
    margin: 1.2rem auto;
    padding: 5px 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    transition: 0.5s;
}

.sale span {
    font: 400 0.8rem 'Archivo', sans-serif;
    text-transform: uppercase;

    padding-right: 1rem;
}

.sale a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-family: var(--secondary-text-font);
}

.sale:hover {
    transform: translateY(-5px);
    background: var(--main-color-linght);
}


@media (max-width: 595px) {
    .main-container .filters {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .main-container .filters input {
        width: 70%;
    }

    .filters button {
        display: none;
    }
    
    .sale {
        display: block;
    }

    .sale span {
        padding: 0;
    }
}

@media (min-width: 595px) {
    .filters a {
        display: none;
    }
}