:root {
    --font-title:'Poppins', sans-serif;
    --primary-font-text: 'Roboto', sans-serif;
    --secondary-font-text-: 'Archivo', sans-serif;

    --main-color-dark: #FFCC00;
    --main-color-linght: #F7DC6F;
    --color-transition-btn: #FAD21E;
    --color-text-linght: #B3B6B7;
    --color-text-dark: #626567;
}

*,
body,
#main-container,
.content-containe{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container .content-container {
    position: relative;
    width: 100%;
    min-height: 250px;
    margin: -18px auto;
    padding: 0.8rem 1rem;

    background-color: white;

    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;

    animation: animation-class 0.8s;
}

#main-container header {
    width: 100%;
    min-height: 30vh;
    padding: 1.3rem;

    background-color: var(--main-color-dark);
}
#main-container header h1 {
    font-family: var(--font-title);
    font-size: 1.6rem;
}

#main-container header p {
    font-family: var(--primary-font-text);
    font-size: 1.1rem;
    color: #ECF0F1;

    padding-bottom: 8px;
}

header a {
    font: 700 1rem 'Archivo', sans-serif;
    color: black;
    text-decoration: none;
}

@keyframes animation-class {
    0% {
        margin: 4px auto;
    }
    100% {
        margin: -18px auto;
    }
}

@media (width: )