

.container-inputs {
    width: 55%;
    margin: 2rem auto;

    transition: 0.5s;
}

.container-inputs input {
    display: block;

    width: 100%;
    padding: 6px;
    margin: 0.8rem auto;

    border: 1px solid black;
    border-radius: 0.3rem;

    outline: none;
    text-transform: uppercase;
    font: 400 0.8rem var(--primary-font-text);
    color: var(--color-text-lightd);

    transition: 0.5s;
}

.container-inputs fieldset {
    border: none;
}

fieldset label {
    font: 700 0.9rem 'Archivo', sans-serif;
    color: var(--color-text-dark);
}

fieldset textarea {
    width: 100%;
    padding: 8px;
    margin: 0.8rem auto;

    border: 1px solid black;
    border-radius: 0.3rem;

    font: 400 0.7rem var(--primary-font-text);

    outline: none;
    resize: vertical;
    text-transform: uppercase;
}

.container-inputs input:focus,
.container-inputs textarea:focus {
    border-color: var(--main-color-dark)
}
.container-inputs input[type='button'] {
    width: 100%;
    padding: 8px;

    border: none;
    font: 700 0.9rem 'Archivo', sans-serif;

    background: var(--color-transition-btn);

    transition: 0.5s;
}

.container-inputs input[type='button']:hover {
    background: var(--main-color-dark);
}

@media (max-width: 595px ) {
    .container-inputs {
        width: 90%;
    }
}