
#content-container .container {
    width: 100%;
    padding: 0.8rem 1rem;
    margin: -18px auto;
    
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;

    background-color:white;

    animation: animation-class 0.8s;
}
.container .filters {
    width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filters input{
    width: 150px;
    margin: 0.5rem;
    padding: 5px;

    border: 1px solid black;
    border-radius: 0.3rem;

    outline: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.filters input[type="text"] {
    font-size: 12px;
    padding: 8px;
}

.filters a {
    width: 35px;
    padding: 8px;

    text-align: center;
    text-decoration: none;
    color: black;

    border: none;
    border-radius: 0.3rem;

    background: var(--main-color-dark);
    outline: none;
    transition: 0.5s;
}

.filters input:hover,
.filters a:hover {
    border-color: var(--main-color-dark);
    box-shadow: 0px 0px 10px var(--main-color-linght);
}

.container .effective-sales_container{
    width: 95%;
    margin: 2rem auto;
}

.effective-sales_container .sale {
    width: 100%;
    margin-top: 1.2rem;
    padding: 5px 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    transition: 0.2s;
}

.sale:hover {
    transform: translateY(-5px);
    background: var(--main-color-linght);
}

.sale span {
    font: 400 0.8rem 'Archivo', sans-serif;
    text-transform: uppercase;

    padding-right: 1rem;
}

.sale a {
    text-decoration: none;
    color: var(--color-text-linght);
    font-family: var(--primary-font-font);
}

.sale a:hover {
    color: var(--color-text-dark);
}


#content-container .detailed-sale_container {
    position: relative;
    width: 100%;
    min-height: 250px;
    margin: -18px auto;
    padding: 0.8rem 1rem;

    background-color: white;

    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;

    animation: animation-class 0.8s;

    display: none;
}

.detailed-sale_container button {
    position: absolute;
    right: 1.2rem;

    background: none;
    border: none;
    outline: none;

    font-size: 1.2rem;
}

.detailed-sale_container .content {
    width: 100%;
    margin: 3rem auto;
}

.detailed-sale_container p {
    margin: 1.2rem 1.2rem;
    font: 400 15px var(--primary-font-font);
    color: black;
}

@keyframes animation-class {
    0% {
        margin: 4px auto;
    }
    100% {
        margin: -18px auto;
    }
} 


@media (max-width: 595px) {
    .container .filters {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .container .filters input {
        width: 70%;
    }

    .filters a {
        width: 70%;
    }
    
    .sale {
        display: block;
    }

    .sale span {
        padding: 0;
    }
}